@charset "utf-8";

:root {
	--gray: #F7F7F7;
	--link: #337ab7;
	--darkgray: #444444;
	--pale-white: #fefefe;
	--light-blue: #72c1d7;
}

html {
	width: 100%;
	font-size: 62.5%;
}

.s-size-font {
	/* 10px */
	font-size: 1.2rem;
}

.m-size-font {
	/* 16px */
	font-size: 1.6rem;
}

.l-size-font {
	/* 20px */
	font-size: 2.0rem;
}

body,
header,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
th,
td {
	margin: 0;
	padding: 0;
}

body {
	/* フォントサイズはクラスで指定 */
	font-size: 1.6rem;
	line-height: 1.6;
	font-family: "Helvetica Neue",
		Arial,
		"Hiragino Kaku Gothic ProN",
		"Hiragino Sans",
		Meiryo,
		sans-serif;
	color: var(--darkgray);
	background-color: var(--pale-white);
}

header .inner {
	margin: 0 auto;
}

header .inner:after {
	content: "";
	clear: both;
	display: block;
}

h1 {
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #302e2e;
	color: #ffffff;
}

@media screen and (max-width: 560px) {
	h1 {
		margin-top: 75px;
	}
}

.h2 {
	margin-top: 10px;
	font-size: 2.4rem;
	font-weight: 700;
}

.h3 {
	font-size: 2.0rem;
	padding-left: 10px;
	margin-bottom: 10px;
}

.text-center {
	text-align: center;
}

.text-start {
	text-align: left;
}

.text-end {
	text-align: right;
}

.text-nowrap {
	white-space: nowrap;
}

.text-red {
	color: #FF0000;
}

.fst-italic {
	font-style: italic;
}

.fw-bold {
	font-weight: bold;
}

.m-10 {
	margin: 10px;
}

.mt-10 {
	margin-top: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-0 {
	margin-bottom: 0 !important;
}


.mb-20 {
	margin-bottom: 20px;
}

.my-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mx-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.overflow-x-auto {
	overflow-x: auto;
}

.table {
	border-collapse: collapse
}

.table-fixed {
	table-layout: fixed;
}

.table td,
.table th {
	border: solid 0.5px #000000;
}

.table td.border-0 {
	border: 0;
}

.table td.border-t1 {
	border-top: solid 0.5px #000000;
}

.table td.diagonal {
	background-image: linear-gradient(to bottom right, transparent, transparent 49%, black 50%, black 50%, transparent 51%, transparent);
}

.table .text-vertical {
	writing-mode: tb-rl;
	white-space: nowrap;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.w-90 {
	width: 90%;
}

.w-80 {
	width: 80%;
}

.w-30px {
	width: 30px !important;
}

.h-30px {
	height: 30px !important;
}

.w-max700 {
	max-width: 700px;
}

.w-max800 {
	max-width: 800px;
}

.w-auto {
	width: auto;
	min-width: 250px;
}

.p-5 {
	padding: 5px;
}

.p-10 {
	padding: 10px;
}

.py-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.py-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.border {
	border: solid #000000;
}

.border-dotted {
	border: dotted #000000;
}

.border-1 {
	border-width: 1px;
}

.border-2 {
	border-width: 2px;
}

.border-radius-5 {
	border-radius: 5px;
}

.link-active {
	text-decoration: none;
	color: var(--link) !important;
}

.link-icon:before {
	font: var(--fa-font-solid);
	content: "(\f08e関連)"
}

ul.circle>li:before {
	font-family: "Font Awesome 6 Free";
	font-weight: bold;
	content: "\f111";
	font-size: 0.7em;
	padding-left: 0.15em;
	padding-right: 0.15em;
}

h2:nth-of-type(n+2) {
	margin-top: 50px;
}

h2+h3 {
	margin-top: 0;
}

h4+h5 {
	margin-top: 0;
}

h5+h6 {
	margin-top: 0;
}

h6:before {
	font-family: "Font Awesome 6 Free";
	font-weight: bold;
	content: "\f111";
	font-size: 0.7em;
	padding-left: 0.15em;
	padding-right: 0.15em;
}

h6 {
	font-size: 1.5rem;
	margin-top: 1em;
}

a {
	text-decoration: none;
}

a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}

ins {
	text-align: center;
}

ins>div {
	width: 100%;
}

.list-icon:before {
	font-family: "Font Awesome 6 Free";
	font-weight: bold;
	content: "\f03a";
}

.left-icon:before {
	font-family: "Font Awesome 6 Free";
	font-weight: bold;
	content: "\f104　";
}

.right-icon:after {
	font-family: "Font Awesome 6 Free";
	font-weight: bold;
	content: "　\f105";
}

.pen-icon:before {
	font-family: "Font Awesome 6 Free";
	content: "\f044";
}

.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.gx-10 {
	column-gap: 10px;
}

.gy-10 {
	row-gap: 10px;
}

.gy-20 {
	row-gap: 20px;
}

.d-flex .order-1 {
	order: 1;
}

.d-flex .order-2 {
	order: 2;
}

.d-flex .order-3 {
	order: 3;
}

.justify-content-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.d-none {
	display: none;
	;
}

.bg-black {
	background-color: #1a1a1a !important;
}

.bg-gray {
	background-color: var(--gray) !important;
}

.flex-column {
	flex-direction: column;
}


/* ナビゲーション */
#top-head {
	width: 100%;
	z-index: 999;
	border-bottom: solid #F2F2F2;
	font-size: initial;
}

#top-head .inner {
	position: relative;
	height: 100%;
}

#top-head .logo {
	font-size: 36px;
}

#top-head.fixed {
	margin-top: 0;
	top: 0;
	position: fixed;
	background: #fff;
	background: rgba(255, 255, 255, 1);
	transition: top 0.65s ease-in;
	-webkit-transition: top 0.65s ease-in;
	-moz-transition: top 0.65s ease-in;
}

#top-head.fixed .logo {
	font-size: 24px;
	color: #333;
}

#top-head.fixed #global-nav ul li a {
	color: #333;
}

#nav-toggle {
	display: none;
	position: absolute;
	right: 12px;
	top: 14px;
	height: 36px;
	cursor: pointer;
	z-index: 101;
}

#nav-toggle div {
	position: relative;
}

#nav-toggle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #666;
	left: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

#global-nav ul {
	text-align: center;
}

#global-nav ul>li {
	vertical-align: middle;
}

#nav-toggle span:nth-of-type(1) {
	top: 20px;
}

#nav-toggle span:nth-of-type(2) {
	top: 30px;
}

#nav-toggle span:nth-of-type(3) {
	top: 40px;
}

#cse-search-box {
	display: none;
}

@media screen and (min-width: 561px) {
	#top-head .inner {
		display: table;
		/* ブロックレベル要素をtableと同じように表示にする */
	}

	#top-head #mobile-head {
		display: table-cell;
		/* ブロックレベル要素をtd(th)と同じように表示にする */
		vertical-align: middle;
	}

	#top-head .inner img {
		float: right;
	}

	#top-head .inner img.smaller {
		height: 55px;
	}

	#global-nav {
		display: table-cell;
		/* ブロックレベル要素をtd(th)と同じように表示にする */
		vertical-align: middle;
	}

	#global-nav ul li a:hover {
		color: #f96482;
	}

	#global-nav ul li div.second-line {
		letter-spacing: 0.07em;
		font-size: 13px;
		margin-top: 3px;
		color: var(--light-blue);
	}

	#head-logo {
		margin-left: 10px;
	}
}

@media screen and (min-width: 961px) {
	#global-nav ul li {
		margin: 10px 15px;
		display: inline-block;
	}
}

@media screen and (min-width: 561px) and (max-width: 960px) {
	#top-head .inner {
		display: table;
		/* ブロックレベル要素をtableと同じように表示にする */
	}

	#top-head #mobile-head {
		display: table-cell;
		/* ブロックレベル要素をtd(th)と同じように表示にする */
		vertical-align: middle;
	}

	#top-head .inner img {
		float: right;
		height: 70%;
	}

	#global-nav {
		display: table-cell;
		/* ブロックレベル要素をtd(th)と同じように表示にする */
		vertical-align: middle;
	}

	#global-nav ul {
		list-style: none;
		font-size: 14px;
		display: inline-block;
	}

	#global-nav ul li {
		margin: 10px 10px;
		display: inline-block;
	}

	#global-nav ul li a:hover {
		color: #f96482;
	}

	#global-nav ul li div.second-line {
		-spacing: 0.07em;
		font-size: 13px;
		margin-top: 3px;
		color: var(--light-blue);
	}
}

@media screen and (max-width: 560px) {
	.inner {
		width: 100%;
		padding: 0;
	}

	#head-logo {
		display: table-cell;
		height: 72px;
		vertical-align: middle;
	}

	#global-nav ul {
		list-style: none;
		right: 0;
		bottom: 0;
		font-size: 14px;
	}

	#top-head {
		top: 0;
		position: fixed;
		margin-top: 0;
		height: 72px;
	}

	/* Fixed reset */
	#top-head.fixed {
		padding-top: 0;
		background: transparent;
	}

	#top-head img {
		height: 80%;
	}

	#global-nav {
		position: absolute;
		/* 開いてないときは画面外に配置 */
		top: -725px;
		background: rgba(51, 51, 51, 0.9);
		width: 100%;
		text-align: center;
		padding: 10px 0;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
	}

	#global-nav ul li {
		float: none;
		position: static;
	}

	#global-nav ul li img {
		max-height: 30px;
	}

	#top-head #global-nav ul li a,
	#top-head.fixed #global-nav ul li a,
	label {
		width: 100%;
		color: #fff;
		padding: 18px 0;
	}

	#nav-toggle {
		display: block;
	}

	#nav-toggle div p {
		position: relative;
		top: -6px;
	}

	/* #nav-toggle 切り替えアニメーション */
	.open #nav-toggle span:nth-of-type(1) {
		top: 30px;
		-webkit-transform: rotate(315deg);
		-moz-transform: rotate(315deg);
		transform: rotate(315deg);
	}

	.open #nav-toggle span:nth-of-type(2) {
		width: 0;
		left: 50%;
	}

	.open #nav-toggle span:nth-of-type(3) {
		top: 30px;
		-webkit-transform: rotate(-315deg);
		-moz-transform: rotate(-315deg);
		transform: rotate(-315deg);
	}

	/* #global-nav スライドアニメーション */
	.open #global-nav {
		/* #global-nav top + #mobile-head height */
		-moz-transform: translateY(800px);
		-webkit-transform: translateY(800px);
		transform: translateY(800px);
		height: 100vh;
	}

	.open #search_btn {
		border: 0px;
		width: 15%;
		background: url(../img/search.svg) no-repeat;
		background-size: 100% 100%;
	}

	.open #search-box {
		border: 0px !important;
		width: 75%;
		color: white;
		font-size: 20px;
		background-color: transparent !important;
	}

	.open #cse-search-box {
		width: 70%;
		border: solid #FFFFFF;
		border-radius: 10px;
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	.open a.switch {
		display: none;
	}

	#top-head #mobile-head {
		background: rgba(255, 255, 255, 0.9);
		transition: top 0.65s ease-in;
		-webkit-transition: top 0.65s ease-in;
		-moz-transition: top 0.65s ease-in;
		height: 100%;
	}

	#global-nav ul li div.first-line {
		font-size: 18px;
		font-weight: bold;
		margin: 15px 0;
	}

	#global-nav ul li div.second-line {
		display: none;
	}

	.sm-flex-column {
		flex-flow: column;
	}

}

.bg-pale-blue {
	background-color: rgba(194, 229, 242, 0.8);
}

.bg-white {
	background-color: #FFFFFF;
}

/* ナビゲーションここまで */

div.footer {
	padding: 30px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #302e2e;
	color: #ffffff;
}