@charset "utf-8";
:root {
    --subject-color: #3cf;
}


/* メールフォーム */

div.form-group{

	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

div.form-group .form-control{
	display: block;
  background-color: #fdfdfd;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

div.form-group .form-control:focus {
  border-color: #aadbe8;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.4);
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.4);
  background-color:#fff;
}

div.form-group input{
	height: 20px;
}

/* input 要素 */
input#name, #email, #subject, #email_check {
  max-width:400px;
}

div.form-group textarea.form-control {
  height: 200px;
}

/* エラー表示 */
p.error, span.error {
  color: red;
}

div.submitBtn{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
