@charset "utf-8";
h1 div.first-line {
    font-size: 30px;
    letter-spacing: 0.12em;
}

div.second-line {
    letter-spacing: 0.07em;
    font-size: 14px;
    font-weight: 600;
}

div.main-block {
    display: table;
    width: 100%;
}

div.main-block .lessons {
    padding-top: 50px;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

ul a {
    color: #666;
}

ul a:hover {
    color: #111;
}

dl.inner-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

dd li {
    font-size: 1.5rem;
    padding-left: 5.2rem;
    text-indent: -5.2rem;
}

dd {
    min-height: 90px;
}

div.lessons ul a {
    color: var(--link) !important;
}

div.lessons ul a:hover {
    text-decoration: underline;
}

div.study img {
    width: 200px;
}

h2 {
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    font-size: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2:before, h2:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
}

h2:before {
    left: 7px;
}

h2:after {
    right: 7px;
}

dl.inner-block div {
    margin-bottom: 30px;
    float: left;
    margin-left: 3%;
}

dl.inner-block {
    overflow: hidden;
    float: left;
}

dl.inner-block img {
    float: left;
}

dl.inner-block dt.ribbon {
    border-left: 8px solid var(--subject-color);
    color: #111;
    font-size: 20px;
    padding: 3px 0 3px 6px;
}

dl.inner-block ul {
    margin-top: 3px;
}

dl.inner-block ul li {
    padding-left: 4em;
    text-indent: -4em;
    padding-top: 2px;
    padding-bottom: 2px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (min-width: 561px) {
    div.main-block .lessons {
        width: 90%;
    }
    dl.inner-block {
        width: 50%;
    }
    dl.inner-block img {
        float: left;
        width: 40%;
    }
    dl.inner-block div {
        width: 57%;
    }
    h2 {
        width: 500px;
    }
}

@media screen and (max-width: 560px) {
    div.main-block .lessons {
        width: 90%;
    }
    dl.inner-block {
        width: 100%;
    }
    dl.inner-block img {
        float: left;
        width: 20%;
    }
    dl.inner-block div {
        width: 77%;
    }
    h2 {
        width: 80%;
    }
}

dl.inner-block {
    margin-bottom: 15px;
}
